name: Test and Lint

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tsc:
    runs-on: ubuntu-latest
    steps:
      - uses: "./.github/actions/bun-environment"
      - name: Run typescript compiler check
        run: bun tsc

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: "./.github/actions/bun-environment"
      - name: Run biome and expo linting
        run: bun lint

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: "./.github/actions/bun-environment"
      - name: Run jest tests
        run: bun test:all
